* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Tahoma', sans-serif;
  color: gray;
  font-size: 1.5em;
  background: lightgray;
  line-height: 1.5em;
}

ul, li {
  list-style: none;
}

#container {
  width: 60%;
  margin: 30px auto;
  overflow: auto;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.title {
  height: 40px;
  background-color: navy;
  color: white;
  text-align: center;
  padding: 13px 0;
}

.faq li {
  padding: 20px;
}

.faq li.q {
  background: silver;
  font-weight: bold;
  font-size: 120%;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.faq li.q img {
  margin-right: 10px;
}

.faq li.a {
  background: whitesmoke;
  display: none;
}

.rotate {
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transition: .5s;
}

@media (max-width:800px) {
  #container {
    width: 90%;
  }
}
